body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #103778;
    color: white;
    text-align: center;
    padding: 25px;
}

header p {
    opacity: 35%;
}

main {
    display: flex;
    margin: 20px;
    gap: 20px;
}

section {
    flex: 3;
}

section h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table input {
    width: 270%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

article {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.botao {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.v1 {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 96%;
}

div {
    max-width: 600px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}